[submodule "janus/vim-powerline"]
	path = janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "janus/vimux"]
	path = janus/vimux
	url = git://github.com/benmills/vimux.git
